{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}map{% endtrans %}
{% endblock %}

{% block body %}

    <main role="main" class="container-fluid">
        <div class="map-responsive">
            <div class=""></div>
        </div>


    </main>


{% endblock %}
