{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}regions{% endtrans %}
{% endblock %}



{% block body %}

    <main role="main" class="container">
        <div class="starter-template">
            <h1>{% trans %}regions{% endtrans %}</h1>

            <a class="nav-link" href="{{ path('trail_new') }}">
                {% trans %}create_trail{% endtrans %}
            </a>

            <a class="nav-link" href="{{ path('region_new') }}">
                {% trans %}create_regionl{% endtrans %}
            </a>
        </div>
    </main>

{% endblock %}
