{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}editregion{% endtrans %}
{% endblock %}

{% block headline %}
    {% trans %}editregion{% endtrans %}
{% endblock %}

{% block content_row %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('category') }}">
                {% trans %}backtolist{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
