{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}regionlist{% endtrans %}
{% endblock %}

{% block headline %}
    {% trans %}regionlist{% endtrans %}
{% endblock headline %}

{% block content_row %}
    <div class="row margin-top">
        {% for entity in entities %}
            <ul class="list-group">
                <a href="{{ path('category_show', { 'id': entity.id }) }}">
                    {{ entity.title }}
                </a>
            </ul>
        {% endfor %}

    </div>
    <div class="row">
        <div>
            <a href="{{ path('category_new') }}">
                {% trans %}createregion{% endtrans %}
            </a>
        </div>
        <div>
            <a href="{{ path('map_homepage') }}">
                {% trans %}map{% endtrans %}
            </a>
        </div>
    </div>
{% endblock content_row %}
