{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}regionshow{% endtrans %}
{% endblock %}

{% block headline %}
    {% trans %}regionshow{% endtrans %}
{% endblock %}

{% block content_row %}
    {% if entity.title %}
        {{ entity.title }}
    {% endif %}
    <div>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            {% trans %}editregion{% endtrans %}
        </a>
    </div>
    <div>
        <a href="{{ path('map_homepage') }}">
            {% trans %}map{% endtrans %}
        </a>
    </div>

{% endblock %}
