{% extends '::base.html.twig' %}

{% block title %}
    {% trans %}edittour{% endtrans %}
{% endblock %}

{% block headline %}
    {% trans %}edittour{% endtrans %}
{% endblock headline %}

{% block content_row %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tour') }}">
            {% trans %}backtolist{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
