{% extends '::base.html.twig' %}

{% block title %}
    Edit Tour
{% endblock %}

{% block headline %}
    Edit Tour
{% endblock headline %}

{% block content_row -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tour') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
