{% extends '::base.html.twig' %}

{% block headline %}
    Tour list
{% endblock headline %}

{% block content_row %}
    <div class="row margin-top">
        <ul class="list-group">
            {% for entity in entities %}
                <li class="list-group-item">
                    <a href="{{ path('tour_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div>
            <a href="{{ path('tour_new') }}">
                Create a new entry
            </a>
        </div>
        <div>
            <a href="{{ path('map_homepage') }}">
                Karte
            </a>
        </div>
    </div>
{% endblock content_row %}



