@import "../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";

#map {
    height: 500px;
    width: 100%;
}
.margin-bottom{
    margin-bottom: 20px;
}
.gallery{
    padding: 0;
    li {
        list-style-type: none;
        margin-bottom: 30px;
    }
}