@import "../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";
h1{
    color: green;
}
#map { 
    height: 680px; 
    width: 900px;
}