{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block container %}
    <h1>{% trans %}regions{% endtrans %}</h1>

    {% if regions|length > 0 %}
        <ul>
            {% for region in regions %}
            <li>
                <a href="{{ path('region_show', {'id': region.id}) }}">{{ region.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}

        {% trans %}no_regions_found{% endtrans %}
    {% endif %}


    <a class="btn btn-primary" href="{{ path('region_new') }}" role="button">
        {% trans %}create_region{% endtrans %}
    </a>
{% endblock %}