{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block container %}

    <h1>{% trans %}create_region{% endtrans %}</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('region_index') }}">
        {% trans %}back_to{% endtrans %}
        {% trans %}regions{% endtrans %}
    </a>

{% endblock %}